.card {
  width: 20rem;
  height: 12rem;
  text-align: center;
  margin-left: 35rem;
  margin-top: 20rem;
  background-color: black;
  color:white;
}
.text {
  text-align: justify;
  text-align: center;
  margin-top: 4.5rem;
}
